{
  "presets": [
    ["env", {
      "targets": { "uglify": true },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["lodash", { "id": ["lodash"] }],
    ["module-resolver", {
      "alias": {
        "@": "./app/javascript"
      }
    }]
  ],
  "env": {
		"production": {
			"presets": ["react-optimize"]
		}
  }
}
