.App--main {
  position: absolute;
  top: 105px;
  margin: 0 30px;
  width: calc(100% - 60px);
}

.App-Header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.App-Page--header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .grommetux-heading { margin-bottom: 0 }
}
