.App-Header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 72px + 40px;
}

.App-Page--header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .grommetux-heading { margin-bottom: 0 }
}
