.Shared-Layer {
  .grommetux-layer__container {
    min-width: 400px !important;
  }
}

.Shared-Layer--title {
  padding: 10px 20px;
  width: 100%;
}

.Shared-Dialog--controls {
  button {
    margin-left: 10px;
  }
}
