.Shared-Layer {
  .grommetux-layer__container {
    min-width: 400px !important;
  }
}

.Shared-Layer--title {
  padding: 10px 20px;
  width: 100%;
}

.Shared-Dialog--controls {
  button {
    margin-left: 10px;
  }
}

.Shared-Loader {
  &__overlay {
    position: relative;
  }

  &--indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }

  &--indicator[data-overlay=true] {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &--indicator[data-overlay=false] {
    width: 100%;
    height: 40px;
    background: #865CD6; // Grommet's default theme color
  }

  &__overlay &__loading &--content {
    pointer-events: none;
    filter: blur(5px);
    transition: filter 400ms ease-in-out;
  }
}
