/*
 *= require grommet/scss/vanilla/index
 */

.grommet {
  &.grommetux-drop {
    z-index: 500 !important;
  }
  .grommetux-layer__container {
    width: auto;
    min-height: 48px;
  }
  .grommetux-check-box {
    height: 1.5em;
    width: 1.5em;
  }
}
