$Avatar--sizes: (small: 40px, medium: 100px, large: 250px);

.Todo {
  .App--main {
    margin: 20px 30px;
  }
  .App-Header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .Avatar {
    border-radius: 50%;
    overflow: hidden;
    @each $name, $size in $Avatar--sizes {
      &--#{$name} {
        width: $size;
        height: $size;
      }
    }
  }
}
